#!/usr/bin/make -f

%:
	dh $@ --with autoreconf --parallel

dir_options=pixmapsdir=/usr/share/pixmaps/xsystrace bindir=/usr/lib/xsystrace

override_dh_auto_configure:
	dh_auto_configure -- $(dir_options)

override_dh_auto_install:
	dh_auto_install -- $(dir_options)

override_dh_install:
	dh_install
	(cd debian/xsystrace/usr/lib/xsystrace && \
	 mv notification xsystrace)
